.Navbar {
    background: rgb(8, 53, 131);
    min-height: 70px;
    position: fixed;
    width: 100%;
    color: white;
    font-size: calc(10px + (24 - 10) * (100vw - 320px) / (1200 - 400));
    z-index: 99;
    white-space: nowrap;
  }
  
  .Navbar ul {
    margin: 0;
    padding: 0;
  }
  
  .Navbar li {
    display: inline-block;
    padding: 26px 0px;
    width: 33.3%;
    text-align: center;
  }
  
  .Navbar a {
    text-decoration: none;
    color: white;
    font-weight: 900;
  }
  
  @media (max-width: 420px) {
    .Navbar li:first-child {
      width: 25%;
    }
  
    .Navbar li:nth-child(2) {
      width: 35%;
    }
  
    .Navbar li:last-child {
      width: 40%;
    }
  }
  